h1 {
    color: brown;
    font-size: 35px;
    text-align: center;
}
h2 {
    text-align: center;
    color: purple;
    font-size: 30px;
}
h3 {
    display: inline-block;
    text-decoration: underline;
    text-align: center;
}

p {
    text-align: center;
    font-size: 20px;
}

ol {
    text-align: center;
    list-style-position: inside
}

ul {
    text-align: center;
    list-style-position: inside
}

li {
    font-size: 18px;
}
